<p>
  <b>Upload:</b>
  <%= @uploaded_file.upload.name %>
</p>

<p>
  <b>Source path:</b>
  <%= @uploaded_file.source_path %>
</p>

<p>
  <b>Relative path:</b>
  <%= @uploaded_file.relative_path %>
</p>

<p>
  <b>File name:</b>
  <%= @uploaded_file.file_name %>
</p>

<p>
  <b>Modification date:</b>
  <%= @uploaded_file.modification_date %>
</p>

<p>
  <b>Mimetype:</b>
  <%= @uploaded_file.mimetype %>
</p>

<p>
  <b>Md5sum:</b>
  <%= @uploaded_file.md5sum %>
</p>

<%=  link_icon_to :back, 'Back', upload_path(@uploaded_file.upload) %>