<h1>List of organizations</h1>

<table class="tablesorter" id="admin_organization_table">
  <thead >
  <tr>
    <th>Name</th>
    <th>Upload directory</th>
    <th>Contact</th>
    <th>Users</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>

  <% @organizations.each do |organization| %>
    <tr>
      <td><%= organization.name %></td>
      <td><%= organization.upload_directory %></td>
      <td><%= organization.contact %></td>
      <td>
        <%= organization.users.count %>
        <%= link_icon_to :view, 'Users', admin_users_path(organization_id: organization.id) %>
      </td>
      <td>
        <%= link_icon_to :view, 'Show', admin_organization_path(organization) %>
        <%= link_icon_to :edit, 'Edit', edit_admin_organization_path(organization) %>
        <%= link_icon_to :delete, 'Destroy', admin_organization_path(organization), {},
                         confirm: "This will remove the organization and all its users and all the uploaded data.\nAre you sure?", method: :delete %>
      </td>
    </tr>
  <% end %>

  <tfoot>
  <tr>
    <td colspan="20">

      <%= link_icon_to :add, 'New Organization', new_admin_organization_path %>

      <%= paging_tags('admin_organization_table', 0 => :sort, 4 => :nosort) %>

    </td>
  </tr>
  </tfoot>

  </tbody>

</table>