<h1><%= t('activerecord.models.organizations') %></h1>

<table class="tablesorter" id="admin_organization_table">
  <thead >
  <tr>
    <th><%= t('activerecord.attributes.organization.name') %></th>
    <th><%= t('activerecord.attributes.organization.upload_directory') %></th>
    <th><%= t('activerecord.attributes.organization.contact') %></th>
    <th><%= t('activerecord.attributes.organization.users') %></th>
    <th><%= t('activerecord.attributes.organization.actions') %></th>
  </tr>
  </thead>

  <tbody>

  <% @organizations.each do |organization| %>
    <tr>
      <td><%= organization.name %></td>
      <td><%= organization.upload_directory %></td>
      <td><%= organization.contact %></td>
      <td>
        <%= organization.users.count %>
        <%= link_icon_to :view, 'Users', admin_users_path(organization_id: organization.id) %>
      </td>
      <td>
        <%= link_icon_to :edit, t('views.links.edit'), edit_admin_organization_path(organization) %>
        <%= link_icon_to :delete, t('views.links.delete'), admin_organization_path(organization), {},
                         method: :delete, data: { confirm: t('views.links.delete_confirm')}
        %>
      </td>
    </tr>
  <% end %>

  <tfoot>
  <tr>
    <td colspan="20">

      <%= link_icon_to :add, 'New Organization', new_admin_organization_path %>

      <%= paging_tags('admin_organization_table', 0 => :sort, 4 => :nosort) %>

    </td>
  </tr>
  </tfoot>

  </tbody>

</table>