<div class="upload_info">
  <h1>Upload to <%= upload.name %></h1>

  <p>
    <b>User: </b>
    <% if upload.user %>
      <%= upload.user.name %>
    <% else %>
      <%= " ------ " %>
    <% end %>
  </p>

  <p>
    <b>Date: </b>
    <%= upload.date %>
  </p>
</div>

<%= link_to 'Edit', edit_admin_upload_path(upload) %>
<% if upload.user %>
  | <%= link_to 'User', admin_user_path(upload.user) %>
<% end %>


<div class="upload_files">

  <h3>Uploaded files:</h3>

  <table class="tablesorter" id="admin_files_table">
    <thead>

    <tr>
      <th>File path</th>
      <th>Mimetype</th>
      <th>Actions</th>
    </tr>

    </thead>

    <tbody><%= render(upload.uploaded_files) %></tbody>

    <tfoot>
    <tr>
      <td colspan="20">

        <%= paging_tags('admin_files_table', 0 => :sort, 2 => :nosort) %>

      </td>
    </tr>
    </tfoot>

  </table>

</div>
