<h1>List of uploads<%= " for #{@user.name}" if @user %></h1>

<%= form_tag admin_uploads_path, :method => 'get', :class => 'user_filter' do %>
  Filter:
  <%= select_tag :user_id,
                 options_from_collection_for_select(User.all(order: "name ASC"), :id, :name, @user ? @user.id : 0), prompt: '-- all users --',
                 onchange: 'this.form.submit()' %>
  <%= submit_tag 'apply' %>
  <%= javascript_tag "$('.user_filter input').hide()" %>
  <% if @user %>
    <%= link_icon_to :view, 'Show', admin_user_path(@user) %>
  <% end %>
<% end %>

<table class="tablesorter" id="admin_uploads_table">
  <thead>
  <tr>
    <% unless @user %>
      <th>User</th>
    <% end %>
    <th>Date</th>
    <th>Directory</th>
    <th>Files</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @uploads.each do |upload| %>
    <tr>
      <% unless @user %>
        <% if upload.user %>
          <td>
            <%= upload.user.name %>
            <%= link_icon_to :view, 'Show', admin_user_path(upload.user) %>
          </td>
        <% else %>
          <td> ------</td>
        <% end %>
      <% end %>

      <td><%= upload.date_short_string %></td>
      <td><%= upload.name %></td>
      <td><%= upload.uploaded_files.count %></td>
      <td><%= upload.status_string %></td>

      <td>
        <%= link_icon_to :view, 'Show upload', admin_upload_path(upload) %>
        <%= link_icon_to :edit, 'Edit upload', edit_admin_upload_path(upload) %>
        <%= link_icon_to :delete, 'Delete upload', admin_upload_path(upload), {},
                         confirm: "This will remove the opload session and its uploaded data.\nAre you sure?", method: :delete %>
      </td>
    </tr>
  <% end %>
  </tbody>

  <tfoot>
  <tr>
    <td colspan="20">

      <% if @user %>
        <%= paging_tags('admin_uploads_table', 0 => :rsort, 4 => :nosort) %>
      <% else %>
        <%= paging_tags('admin_uploads_table', 0 => :sort, 1 => :rsort, 5 => :nosort) %>
      <% end %>

    </td>
  </tr>
  </tfoot>

</table>