<div class="upload_form">

  <% if @upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= raw t('errors.template.header', count: @upload.errors.count,
                    model: t('activerecord.models.upload')) %>.</h2>

      <p><%= t('errors.template.body') %></p>

      <ul>
        <% @upload.errors.full_messages.each do |msg| %>
          <li><%= raw msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% if @upload.id %>
    <% options = {url: upload_path(@upload), method: :put} %>
  <% else %>
    <% options = {url: uploads_path, method: :post} %>
  <% end %>

  <% unless @upload.date %>
    <% @upload.date = Time.now %>
  <% end %>

  <%= form_for @upload, options do |f| %>

    <fieldset>

      <legend>Enter upload details</legend>

      <div class="field">
        <%= f.label :name, 'Directory' %>
        : <%= f.text_field :name, readonly: @upload.id  %>
      </div>

      <div class="field">
        <%= f.label :date %>
        : <%= @upload.date.getlocal.strftime "%A %d %B %Y %H:%M:%S.%L" %>
      </div>

      <div class="field">
        <%= f.label :status %>
        : <%= f.select :status, @upload.status_options(false) %>
      </div>

      <div class="field">
        <%= f.label :info %>
        : <%= @upload.info %>
      </div>


      <div class="actions">
        <%= f.submit %>
      </div>
    </fieldset>
  <% end %>

</div>

