<!--
SUCCESS
-->
<h1>Upload to <%= upload.name %></h1>
<p>Id: <%= upload.id %></p>
<p>User: <%= upload.user_id %></p>
<p>Date: <%= upload.date %></p>

<p>

<h3>Uploaded files:</h3>

<table border="1">

  <tr>
    <th>File path</th>
    <th>Modification date</th>
    <th>Mimetype</th>
    <th>Md5sum</th>
    <th colspan="3">Actions</th>
  </tr>

  <%= render(upload.uploaded_files) %>

</table>
