<h1>List of uploads<%= " for #{@user.name}" if @user %></h1>

<table class="tablesorter" id="uploads_table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Directory</th>
    <th>Files</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @uploads.each do |upload| %>
    <tr>
      <td><%= upload.date_short_string %></td>
      <td><%= upload.name %></td>
      <td>
        <%= upload.uploaded_files.count %>
        <% if upload.status == 1 %>
          <%= link_icon_to :add, 'Upload files', uploads_add_files_path(upload) %>
        <% end %>
      </td>
      <td><%= upload.status_string %></td>

      <td>
        <%= link_icon_to :view, 'Show upload', upload_path(upload) %>
        <%= link_icon_to :edit, 'Edit upload', edit_upload_path(upload) %>
        <%= link_icon_to :delete, 'Delete upload', upload_path(upload), {},
                         confirm: "This will remove the opload session and its uploaded data.\nAre you sure?", method: :delete %>
      </td>

    </tr>
  <% end %>
  </tbody>

  <tfoot>
  <tr>
    <td colspan="20">
      <%= link_icon_to :add, 'New upload', new_upload_path %>
      <%= paging_tags('uploads_table', 0 => :rsort, 4 => :nosort) %>
    </td>
  </tr>
  </tfoot>

</table>
