<!DOCTYPE html>
<html>
<head>
  <title>LIASUpload</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "blue/style.css" %>
  <%= csrf_meta_tags %>
  <%= javascript_tag do -%>

    $(document).ready(function () {
      $("#alert")
        .delay(500)
        .effect("pulsate", {times: 2, mode: "show", duration: 1000});
      $("#notice")
        .delay(3000)
        .fadeOut(2000);
    });

  <% end %>
</head>
<body class="<%= controller.controller_name %>" >

<div id="banner">
    <table>
      <tbody>
      <tr>
        <td id="banner_image_left">
          <img src="http://aleph08.libis.kuleuven.be:8881/lias/images/page_header_left.png">
        </td>
        <td> &nbsp; </td>
        <td id="banner_image_right" align="right">
          <img src="http://aleph08.libis.kuleuven.be:8881/lias/images/page_header_right.png">
        </td>
      </tr>
      </tbody>
    </table>

  <%= form_tag front_end_path, class: 'locale' do %>
    <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s),
                   onchange: 'this.form.submit()' %>
    <%= submit_tag 'submit' %>
    <%= javascript_tag "$('.locale input').hide()" %>

  <% end %>

  <div id="banner_text">
    <span>LIAS Uploader</span>
  </div>

  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

  <% if notice %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>

</div>

<div id="columns">
  <div id="side">
    <% if session[:user_id] %>
      <div class="current_user">
        <%= User.find(session[:user_id]).name %>
        <%= button_to t('login.logout'), logout_path, :method => :delete %>
      </div>
    <% end %>
    <ul>
      <% if session[:admin] %>
        <li id="Admin_menu" <%= "style='font-style: italic;'" if controller.controller_name == 'admin' %>>
          <%= link_to t('menu.administration'), admin_path %>
          <ul>
            <li <%= "style='list-style: outside disc;font-style: italic;'" if controller.controller_name == 'organizations' %>>
              <%= link_to t('menu.organizations'), admin_organizations_path %>
            </li>
            <li <%= "style='list-style: outside disc;font-style: italic;'" if controller.controller_name == 'users' %> >
              <%= link_to t('menu.users'), admin_users_path %>
            </li>
            <li <%= "style='list-style: outside disc;font-style: italic;'" if controller.controller_name == 'uploads' %> >
              <%= link_to t('menu.uploads'), admin_uploads_path %>
            </li>
          </ul>
        </li>
      <% end %>
      <% if session[:user_id] %>
        <li><%= link_to t('menu.my_uploads'), uploads_path %></li>
      <% end %>
    </ul>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>

  <footer>
    <!--%=  session.inspect %-->
  </footer>
</body>
</html>
